<!DOCTYPE HTML>
<html>
    
    {{> headerMeta}}
    <body>
    {{> header}}
    <p>
        {{screamIt wellcomeMessage}} <!-- argumenter kan tilføjes bare brug mellem rum -->
    </p>
    {{> footer}}
    </body>
    
</html>