<!DOCTYPE HTML>
<html>
    
    {{> headerMeta}}
    <body>
    {{> header}}
    <p>
        You can find my gtihub portfolio <a href="https://github.com/johaneyrich/node-course-web-server">here</a>.
    </p>
    {{> footer}}
    </body>
    
</html>